*{
	margin: 0;
	padding: 0;
}
.ball{
	width: 100px;
	height: 100px;
	background-color: cyan;
	animation-name: colorwidthchange-bar;
	animation-duration: 5s;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes colorwidthchange-bar{
	from{
		width: 0px;
	}
	to{
		width: 100vw; background-color: lightgreen;
	}
}

.ball h1{
	padding: 30px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

